/* Animação de rotação para o ícone loader */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinIcon {
  animation: spin 1s linear infinite;
}
